.stat-design{
    position: relative;
    left: 20%;
}

@media screen and (max-width: 576px) {
    .stat-design{
        width: 400px;
        max-width: 100%;
        height: auto;
        position: relative;
        left: -2%;
        
    }
    
}
@media screen and (max-width: 576px) {
    .stat-design h2{
        margin-left: 40px;
        
    }
    
}
   